html[data-theme='default'] {
  --color-primary-50: #FFFAF0;
  --color-primary-100: #FEEBCB;
  --color-primary-200: #FBD38D;
  --color-primary-300: #F6AD55;
  --color-primary-400: #ED8936;
  --color-primary-500: #DD6B20;
  --color-primary-600: #C05621;
  --color-primary-700: #9C4221;
  --color-primary-800: #7B341E;
  --color-primary-900: #652B19;
  --color-secondary-50: #F7FAFC;
  --color-secondary-100: #EDF2F7;
  --color-secondary-200: #E2E8F0;
  --color-secondary-300: #CBD5E0;
  --color-secondary-400: #A0AEC0;
  --color-secondary-500: #718096;
  --color-secondary-600: #4A5568;
  --color-secondary-700: #2D3748;
  --color-secondary-800: #1A202C;
  --color-secondary-900: #171923;
  --color-red-50: #FFF5F5;
  --color-red-100: #FED7D7;
  --color-red-200: #FEB2B2;
  --color-red-300: #FC8181;
  --color-red-400: #F56565;
  --color-red-500: #E53E3E;
  --color-red-600: #C53030;
  --color-red-700: #9B2C2C;
  --color-red-800: #822727;
  --color-red-900: #63171b;
  --color-green-50: #f0fff4;
  --color-green-100: #c6f6d5;
  --color-green-200: #9ae6b4;
  --color-green-300: #68d391;
  --color-green-400: #48bb78;
  --color-green-500: #38a169;
  --color-green-600: #2f855a;
  --color-green-700: #276749;
  --color-green-800: #22543d;
  --color-green-900: #1c4532;
  --color-blue-50: #ebf8ff;
  --color-blue-100: #bee3f8;
  --color-blue-200: #90cdf4;
  --color-blue-300: #63b3ed;
  --color-blue-400: #4299e1;
  --color-blue-500: #3182ce;
  --color-blue-600: #2b6cb0;
  --color-blue-700: #2c5282;
  --color-blue-800: #2a4365;
  --color-blue-900: #1a365d;
  --color-purple-50: #faf5ff;
  --color-purple-100: #e9d8fd;
  --color-purple-200: #d6bcfa;
  --color-purple-300: #b794f4;
  --color-purple-400: #9f7aea;
  --color-purple-500: #805ad5;
  --color-purple-600: #6b46c1;
  --color-purple-700: #553c9a;
  --color-purple-800: #44337a;
  --color-purple-900: #322659;
  --color-pink-50: #fff5f7;
  --color-pink-100: #fed7e2;
  --color-pink-200: #fbb6ce;
  --color-pink-300: #f687b3;
  --color-pink-400: #ed64a6;
  --color-pink-500: #d53f8c;
  --color-pink-600: #b83280;
  --color-pink-700: #97266d;
  --color-pink-800: #702459;
  --color-pink-900: #521b41;
  --color-teal-50: #e6fffa;
  --color-teal-100: #b2f5ea;
  --color-teal-200: #81e6d9;
  --color-teal-300: #4fd1c5;
  --color-teal-400: #38b2ac;
  --color-teal-500: #319795;
  --color-teal-600: #2c7a7b;
  --color-teal-700: #285e61;
  --color-teal-800: #234e52;
  --color-teal-900: #1d4044;
  --color-cyan-50: #edfdfd;
  --color-cyan-100: #c4f1f9;
  --color-cyan-200: #9decf9;
  --color-cyan-300: #76e4f7;
  --color-cyan-400: #0bc5ea;
  --color-cyan-500: #00b5d8;
  --color-cyan-600: #00a3c4;
  --color-cyan-700: #0987a0;
  --color-cyan-800: #086f83;
  --color-cyan-900: #065666;
}
